<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestordealmacenamiento">

    <application
        android:icon="@drawable/program_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/program_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestorDeAlmacenamiento">

        <activity android:name=".presentation.PresentationScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".session.LoginScreen" />
        <activity android:name=".session.RegisterScreen" />
        <activity android:name=".session.RecoverPWDScreen" />

        <activity android:name=".app.FilesScreen"/>
        <activity android:name=".app.MeScreen"/>
        <activity android:name=".app.HomeScreen"/>
        <activity android:name=".app.PermissionScreen"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>